.container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 20px;
}

.header {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 15px;
}

.container_block {
  background-color: #ffffff0d;
  border-radius: 20px;
}

.usdt_count,
.notifications {
  display: flex;
  height: 50px;
  gap: 10px;
  align-items: center;
  padding: 15px 20px;
  border-radius: 10px;
}

.notifications {
  width: 50px;
  padding: 0;
  justify-content: center;
}

.usdt_count {
  flex-grow: 1;
}

.usdt_count img {
  width: 24px;
  height: 24px;
}

.usdt_count .count {
  font-size: 16px;
  line-height: 16px;
  font-weight: 500;
  color: #ffffff;
}

.notifications .icon {
  position: relative;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.notifications .icon img {
  width: 16px;
  height: 17px;
}

.notifications .icon .indicator {
  position: absolute;
  background-color: #3e37ff;
  width: 5px;
  height: 5px;
  right: -1px;
  top: -3px;
  border-radius: 5px;
}

.cards {
  width: 382px;
  display: flex;
  justify-content: space-between;
}

.cards .triangle {
  width: 20px;
  height: auto;
  align-self: flex-end;
}

.cards .card {
  display: flex;
  flex-direction: column;
  border: 1px solid #ffffff1a;
  padding: 10px;
  width: 186px;
  height: 133px;
  background-color: #111015;
}

.cards .card.active {
  border: 1px solid #3e37ff;
  background-color: #ffffff0d;
}

.cards .card .header_info {
  display: flex;
  padding-left: 10px;
  justify-content: space-between;
  align-items: end;
}

.cards .card .header_info img {
  width: 48px;
  height: 48px;
}

.cards .card .header_info .more_info {
  height: 53px;
  width: 81px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 7px;
  text-align: center;
  border-radius: 10px;
  background-color: #ffffff0d;
}

.cards .card.active .header_info .more_info {
  border: 1px solid #ffffff1a;
}

.cards .card .header_info .more_info .end {
  font-size: 12px;
  font-weight: 400;
  color: #7b778a;
}

.cards .card .header_info .more_info .date {
  font-size: 16px;
  font-weight: 400;
  color: #ffffff;
}

.cards .card .count {
  margin-top: 10px;
  margin-left: 10px;
  font-size: 16px;
  font-weight: 500;
  color: #ffffff;
}

.cards .card .currency {
  margin-left: 10px;
  margin-top: 5px;
  font-size: 14px;
  font-weight: 400;
  color: #7b778a;
}

.currencies {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 10px;
}

.currencies .currency {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 20px;
  justify-content: space-between;
}

.currencies .currency .currency_count {
  display: flex;
  align-items: center;
  gap: 10px;
}

.currencies .currency .currency_count img {
  height: 32px;
  width: 32px;
}

.currencies .currency .currency_count .count {
  font-size: 32px;
  font-weight: 400;
  color: #ffffff;
}

.currencies .currency .currency_name {
  font-size: 32px;
  font-weight: 400;
  color: #3e37ff;
}

.buy_button {
  width: 382px;
  height: 60px;
  background-color: #3e37ff;
  border-radius: 20px;
  color: #ffffff;
  font-size: 20px;
  font-weight: 500;
  border: none;
}
